{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2>
                Impressum
            </h2>

            <p>
                Angaben nach § 5 TMG:
            </p>

            <p>
                Malte Hübner
                <br />
                Goethestraße 48
                <br />
                21335 Lüneburg
            </p>

            <p>
                E-Mail: <a href="mailto:malte@caldera.cc">malte@caldera.cc</a>
                <br />
                Telefon: <a href="tel:015117277032">0151 17277032</a>
            </p>
        </div>
    </div>
{% endblock %}