{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    Corona<sup>cx</sup>
                </h1>

                <p class="lead">
                    Finde aktuelle Inzidenzwerte aus deiner Stadt oder deinem Landkreis.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="input-group input-group-lg mb-3">
                        <input type="text" class="form-control" placeholder="Dein Ort oder Landkreis" aria-label="Dein Ort Oder Landkreis" aria-describedby="button-addon">
                        <button class="btn btn-outline-secondary" type="button" id="button-submit">
                            OK
                        </button>
                        <button class="btn btn-outline-secondary" type="button" id="button-locate">
                            Button
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}