{% extends 'layout.html.twig' %}

{% import '_macros.html.twig' as corona_macros %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-3">
            {{ corona_macros.incidence_box(incidence, date_time) }}
        </div>
    </div>
{% endblock %}